body{
    background-color: #2a2a2b;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.73'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-decoration: none;
}

.body-container{
    padding: 90px 20px 0;
}

/*--------------------------Barra de Navegacion--------------------------------------*/
.header{
    background-color: white;
    height: 80px;
    position: fixed;
    width: 75.5%;
    z-index: 50;
    border: solid 1px #2a2a2b;
    border-radius: 10px;
    color: #2a2a2b;
}

.nav-menu{
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.nav-menu-item{
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link:hover{
    background-color: #2a2a2b;
    transition: 0.8s;
}

.nav-menu-link{
    color: black;
    text-decoration: none;
    padding: 9px 13px;
    border-radius: 4px;
    transition: 0,9s;
}

/*----------------------------------------------------------------*/
#tittle-column{
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;
}

#body{
    margin: 12px;
}

#body-column1,
#body-column4{
    padding: 10px;
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;
}

#body-columnImg{
    text-align: center;
    margin-top: 17px;
    padding: 5px;
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;
}

#parra{
    margin: 12px;
    padding: 50px;
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;
}

.list{
    color: white;
}

/*-----wallpaper------*/

.img1{
    top: 20px;
    left: 510px;
    position: absolute;
    width: 420px;
}

.tierrachan{
    position: absolute;
    top: 250px;
    left: 73%;
    border-radius: 10px;
    z-index: 2;
}

.parrfafo p{
    z-index: 4;
}

.about{
    margin: 12px;
    padding: 50px;
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;

}

.img-3{
    border: solid 3px white;
    position: absolute;
    width: 200px;
    border-radius: 100%;
    left: 38%;
    bottom: 45px;
}

.about p{
    padding-bottom: 200px;
}

.vid1{
    margin: 12px;
    padding: 200px;
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;
    left: 30%;
}

.vid-1{
    position: absolute;
    top: 30px;
    left: 79px;
    border-radius: 10PX;
}

#body-column2{
    padding: 16.4%;
    background-color: white;
    border: solid #2a2a2b 1px;
    border-radius: 10px;
}